* {
  height: 100%;
}
body {
  margin: 0;
  height: 100%;
  background: rgb(0, 0, 0);
  color: white;
}
.link {
  background: #f93636;
}
.link:hover {
  background-color: #ff7930;
  color: #a73ae7;
}
.grid-container {
  display: grid;
  grid-template-columns: 10% 1fr 1fr 1fr 1fr 10%;
  grid-template-rows: 100px 20% 20% 20% 20%;
  grid-column-gap: 20px;
  grid-row-gap: 5px;
}

h1 {
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  margin: 1.4em 2em;
  display: grid;
  grid-column-start: 1;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 1;
  color: #ff7b0f;
  border-bottom: 5px solid #ff7930;
  font-size: 5em;
  font-family: "Creepster", cursive;
}

.green {
  display: grid;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 3;
  background: #85e21f;
  border-radius: 20%;
  height: 100px;
  width: 100px;
  justify-self: center;
  align-self: center;
}
.yellow {
  display: grid;
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 5;
  background: yellow;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  justify-self: center;
  align-self: center;
}
.orange {
  display: grid;
  grid-column-start: 4;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
  width: 0px;
  height: 0px;
  border-right: 60px solid transparent;
  border-top: 60px solid #ff7b0f;
  border-left: 60px solid #ff7b0f;
  border-bottom: 60px solid #ff7b0f;
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
  border-bottom-left-radius: 60px;
  border-bottom-right-radius: 60px;
  justify-self: center;
  align-self: center;
  /* Pac-Man shape from "https://css-tricks.com/the-shapes-of-css/" */
}
.purple {
  display: grid;
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 4;
  grid-row-end: 5;
  display: block;
  width: 100px;
  height: 110px;
  background-color: #a73ae7;
  border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
  justify-self: center;
  align-self: center;
  /* Egg shape from "https://css-tricks.com/the-shapes-of-css/" */
}

.score {
  font-size: 26px;
  justify-content: start;
  align-items: center;
  display: grid;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 5;
  grid-row-end: 5;
}
.start {
  font-size: 20px;
  display: grid;
  grid-column-start: 4;
  grid-column-end: 4;
  grid-row-start: 5;
  grid-row-end: 5;
  align-self: center;
  background-color: #ff7930;
  height: 50px;
}

.score,
.scoreCount {
  color: #ff7930;
  font-size: 2.6rem;
}
.game-over {
  display: none;
  justify-content: center;
  align-items: center;
  grid-column-start: 3;
  grid-column-end: 5;
  align-self: center;
  font-size: 46px;
  background: #f93636;
  color: #000000;
  height: 100px;
  width: 600px;
}
